<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Content -->
<th:block th:fragment="indexContent">
    <main>
        <div class="container-fluid px-4 bg-main-container">
            <h1 class="mt-4">가게 관리</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active" href="/admin/store/config">Store Config</li>
            </ol>

            <div id="store-list-row" class="breadcrumb">
                <table class="table table-hover caption-top">
                    <caption class="">
                        <div id="store-list-caption" class="float-start">가게 리스트</div>
                        <div id="store-list-count-caption" class="float-end"></div>
                    </caption>
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">이름</th>
                        <th scope="col">지역</th>
                        <th scope="col">카테고리</th>
                        <th scope="col">등록일</th>
                        <th scope="col">수정</th>
                        <th scope="col">삭제</th>
                    </tr>
                    </thead>
                    <tbody id="store-list-table" class="align-middle">
                    </tbody>
                </table>
            </div>

            <div id="forum-delete-modal" class="modal fade" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="test" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="forum-delete-modal-title" class="modal-title"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div id="forum-delete-modal-body" class="modal-body"></div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요</button>
                            <button id="forum-delete-chk-btn" type="button" data-bs-dismiss="modal"
                                    class="btn btn-primary">네
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="store-config-page-zone" class="page-row row">
                <nav id="index-page-row" class="" aria-label="Page navigation example text-secondary">
                    <ul id="store-config-pagination"
                        class="pagination align-items-center justify-content-center"></ul>
                </nav>
            </div>

            <h1 class="mt-4">유저 관리</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">User Config</li>
            </ol>

            <div id="user-list-row" class="breadcrumb">
                <table class="table table-hover caption-top">
                    <caption class="">
                        <div id="user-list-caption" class="float-start">유저 리스트</div>
                        <div id="user-list-count-caption" class="float-end"></div>
                    </caption>
                    <thead>
                    <tr>
                        <th  scope="col">ID</th>
                        <th  scope="col">닉네임</th>
                        <th  scope="col">이름</th>
                        <th  scope="col">성별</th>
                        <th class="col-md-1" scope="col">나이</th>
                        <th class="col-md-2">가입일</th>
                        <th id="user-role" class="col-md-2" scope="col">권한</th>
                        <th  scope="col">삭제</th>
                    </tr>
                    </thead>
                    <tbody id="user-list-table" class="align-middle">
                    </tbody>
                </table>
            </div>

            <div id="user-delete-modal" class="modal fade" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="test" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="user-delete-modal-title" class="modal-title"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div id="user-delete-modal-body" class="modal-body"></div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요</button>
                            <button id="user-delete-chk-btn" type="button" data-bs-dismiss="modal" class="btn btn-primary">네</button>
                        </div>

                    </div>
                </div>
            </div>

            <div id="user-update-modal" class="modal fade" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="test" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="user-update-modal-title" class="modal-title"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div id="user-update-modal-body" class="modal-body"></div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요</button>
                            <button id="user-update-chk-btn" type="button" data-bs-dismiss="modal" class="btn btn-primary">네</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Page Index를 위한 row-->
            <div id="user-config-page-zone" class="page-row row">
                <nav id="index-user-page-row" class="" aria-label="Page navigation example text-secondary">
                    <ul id="user-config-pagination"
                        class="pagination align-items-center justify-content-center"></ul>
                </nav>

            </div>
        </div>
    </main>
</th:block>
</html>