<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Content -->
<th:block th:fragment="likedStoreContent">
  <main>
    <div class="container-fluid px-4 bg-main-container">
      <!-- Title, Sort를 위한 row-->
      <div class="row align-items-center">
        <!-- title -->
        <div id="page-title-row" class="col-6 mb-4">
        </div>

        <!-- sort Btn -->
        <div class="sort-btn col-6 mb-4 d-flex justify-content-end">
          <p><a class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#sort-collapse"
                role="button" aria-expanded="false">
            정렬</a>
          </p>
        </div>

        <div id="sort-collapse" class="collapse mb-4 row justify-content-end">
          <div class="sort-tag-collapse col-md-6 ">
            <div class="form-control float-end col-md-6 justify-content-between">
              <div id="mood-sort-zone" class="mx-2 my-2">
                <label class="small my-2">분위기</label>
                <div class="mood-sort-btn"></div>
              </div>

              <div id="price-sort-zone" class="mx-2 my-2">
                <label class="small my-2">가격대</label>
                <div class="price-sort-btn"></div>
              </div>

              <div id="sub-category-sort-zone" class="mx-2 my-2">
                <label class="small my-2">카테고리</label>
                <div class="sub-category-sort-btn"></div>
              </div>
              <div id="location-sort-zone" class="mx-2 my-2" hidden>
                <label class="small my-2">지역</label>
                <div class="location-sort-btn"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Store Card를 위한 row-->
      <div id="store-row" class="store-row row"></div>

      <!-- Pagination을 위한 row-->
      <div id="index-page-zone" class="page-row row">
        <nav id="index-page-row" class="" aria-label="Page navigation text-secondary">
          <ul id="store-pagination" class="pagination justify-content-center"></ul>
        </nav>
      </div>

    </div>
  </main>
</th:block>

</html>